<div
  class="card-body"
  *ngIf="processedExchangeData && !isLoading; else loading"
>
  <h5 class="card-title">
    {{ processedExchangeData.valueFrom }}
    {{ processedExchangeData.currencyFrom }} =
  </h5>
  <p class="card-text">
    {{ processedExchangeData.valueTo }} {{ processedExchangeData.currencyTo }}
  </p>
  <div class="d-flex gap-3">
    <span class="fw-lighter text-muted"
      >Ultima atualizacao: {{ processedExchangeData.date }}</span
    >
    <span class="fw-lighter text-muted"
      >Taxa utilizada: {{ processedExchangeData.rate }}</span
    >
  </div>
</div>

<ng-template #loading>
  <div class="text-center p-5">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
