<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 fixed-top">
  <div class="container-xl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-lg-auto">
        <a
          class="nav-item nav-link"
          [ngClass]="{ active: currentRoute == '/' }"
          routerLink="/"
          >Inicio</a
        >
        <a
          class="nav-item nav-link"
          [ngClass]="{ active: currentRoute == '/main' }"
          routerLink="/main"
          >Calcular</a
        >
        <a
          class="nav-item nav-link"
          [ngClass]="{ active: currentRoute == '/history' }"
          routerLink="/history"
          >Historico</a
        >
      </div>
    </div>
  </div>
</nav>
