<div class="mat-elevation-z8" *ngIf="dataSource && dataSource.data">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
      <td mat-cell *matCellDef="let currency">{{ currency.date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
      <td mat-cell *matCellDef="let currency">{{ currency.time }}</td>
    </ng-container>

    <ng-container matColumnDef="valueFrom">
      <th mat-header-cell *matHeaderCellDef>Valor Informado</th>
      <td mat-cell *matCellDef="let currency" class="position-relative">
        {{ currency.valueFrom }}
        <i
          class="bi bi-piggy-bank-fill absolute-dolar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="This top tooltip is themed via CSS variables."
          *ngIf="currency.isHigherThan10000k"
        ></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="currencyFrom">
      <th mat-header-cell *matHeaderCellDef>Moeda Selecionada</th>
      <td mat-cell *matCellDef="let currency">{{ currency.currencyFrom }}</td>
    </ng-container>

    <ng-container matColumnDef="currencyTo">
      <th mat-header-cell *matHeaderCellDef>Moeda Convertida</th>
      <td mat-cell *matCellDef="let currency">{{ currency.currencyTo }}</td>
    </ng-container>

    <ng-container matColumnDef="valueTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Resultado</th>
      <td mat-cell *matCellDef="let currency">{{ currency.valueTo }}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Taxa</th>
      <td mat-cell *matCellDef="let currency">{{ currency.rate }}</td>
    </ng-container>

    <ng-container matColumnDef="Acoes">
      <th mat-header-cell *matHeaderCellDef>Acoes</th>
      <td mat-cell *matCellDef="let currency">
        <i
          class="btn btn-link bi bi-trash3"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#selector-' + currency.id"
          #closeModalBtn
        ></i>
        <app-delete-exchange-modal
          [currencyId]="currency.id"
          [closeModalBtn]="closeModalBtn"
        ></app-delete-exchange-modal>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Paginacao das transacoes"
  >
  </mat-paginator>
</div>
