<button
  mat-raised-button
  (click)="openDialog('300ms', '300ms')"
  class="btn btn-primary w-100"
>
  {{
    selectedCurrency
      ? "Moeda Selecionada: " + selectedCurrency.acronym
      : "Selecione uma moeda.."
  }}
</button>

<div class="card-body">
  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <input
      type="text"
      class="form-control"
      [disabled]="modalTarget == 'to-currency'"
      aria-label="Dollar amount (with dot and two decimal places)"
      (input)="dealWithInputExchangeEvent($event)"
    />
  </div>
</div>
