<div class="d-flex gap-5">
  <div class="card text-center">
    <app-select-exchange
      (emitSelectedCurrency)="setCurrency(false, $event)"
      (emitExchangeValue)="dealWithInputedValue($event)"
      [modalTarget]="'from-currency'"
    ></app-select-exchange>
  </div>
  <div class="card text-center">
    <app-select-exchange
      (emitSelectedCurrency)="setCurrency(true, $event)"
      (emitExchangeValue)="dealWithInputedValue($event)"
      [modalTarget]="'to-currency'"
    ></app-select-exchange>
  </div>
</div>

<div class="card mt-5 row" *ngIf="exchangeValue && fromCurrency && toCurrency">
  <app-make-exchange
    [exchangeData]="{
      currencies: { to: toCurrency, from: fromCurrency },
      value: exchangeValue
    }"
  ></app-make-exchange>
  <div class="card-footer d-flex align-items-center justify-content-center">
    <span class="fw-lighter">Deseja ver seu historico? </span>
    <button type="button" class="btn btn-link">Clique aqui.</button>
  </div>
</div>
