<div class="d-flex gap-5">
  <div class="card text-center">
    <app-select-exchange
      (emitSelectedCurrency)="setCurrency(false, $event)"
      (emitExchangeValue)="dealWithInputedValue($event)"
      [modalTarget]="'from-currency'"
    ></app-select-exchange>
  </div>
  <div class="card text-center">
    <app-select-exchange
      (emitSelectedCurrency)="setCurrency(true, $event)"
      (emitExchangeValue)="dealWithInputedValue($event)"
      [modalTarget]="'to-currency'"
    ></app-select-exchange>
  </div>
</div>

<div
  class="card mt-5 row"
  *ngIf="exchangeValue && fromCurrency && toCurrency; else elseBlock"
>
  <app-make-exchange
    [exchangeData]="{
      currencies: { to: toCurrency, from: fromCurrency },
      value: exchangeValue
    }"
  ></app-make-exchange>
</div>

<ng-template #elseBlock>
  <div
    class="mt-5 fw-light text-center align-items-center justify-content-center text-danger"
  >
    <i class="bi bi-exclamation-triangle"></i>
    <span> Porfavor, selecione as moedas e o valor que deseja. </span>
  </div>
</ng-template>
