<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Descricao</th>
      </tr>
    </thead>
    <tbody *ngIf="currenciesList; else noCurrenciesTemplate">
      <tr *ngFor="let currency of currenciesList" 
           (click)="selectCurrency(currency)"
           [ngClass]="{'table-active': selectedCurrency?.acronym == currency.acronym}"
      >
        <td>{{ currency.acronym }}</td>
        <td>{{ currency.fullName }}</td>
      </tr>
    </tbody>
    <ng-template #noCurrenciesTemplate>
      <span>Nao existem moedas!</span>
    </ng-template>
  </table>