<app-menu></app-menu>
<div class="container d-flex flex-column gap-3">
  <div>
    <h1 class="display-3 fw-bold">Conversor de Moedas.</h1>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="!isOnHistoryPage">
    <div class="card-footer d-flex align-items-center justify-content-center">
      <span class="fw-lighter"> Deseja ver seu historico? </span>
      <button type="button" class="btn btn-link" routerLink="/history">
        Clique aqui.
      </button>
    </div>
  </div>
</div>
