<div 
  class="card-footer d-flex align-items-center justify-content-center p-3 gap-3"
>
  <ul class="pagination mb-0">
      <li class="page-item">
        <button
          class="page-link cursor-pointer"
          aria-label="Previous"
          id="backwards-btn"
          [disabled]="currenciesCurrentPage == 0"
          (click)="setPage(false)"
        >
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item">
        <button
          class="page-link cursor-pointer"
          aria-label="Next"
          id="forward-btn"
          [disabled]="(((currenciesCurrentPage * currenciesPerPage) + currenciesPerPage) > currenciesListLength)"
          (click)="setPage(true)"
        >
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  <div class="d-flex align-items-center gap-3">
      <small class="fw-light" *ngIf="currenciesListLength">
        {{currenciesCurrentPage * currenciesPerPage}}
        -
        {{(currenciesCurrentPage * currenciesPerPage) + currenciesPerPage}}
        de
        {{currenciesListLength }}
      </small>
        <div class="dropup">
          <a class="btn btn-secondary btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Items por pagina
          </a>
        
          <ul class="dropdown-menu">
            <li>
            <a 
              class="dropdown-item cursor-pointer" 
              [ngClass]="{'active': currenciesPerPage == 5}"
              (click)="setCurrenciesPerPage(5)">
              5
            </a>
            <a 
              class="dropdown-item cursor-pointer" 
              [ngClass]="{'active': currenciesPerPage == 7}"
              (click)="setCurrenciesPerPage(7)">
              7
            </a>
            <a 
              class="dropdown-item cursor-pointer" 
              [ngClass]="{'active': currenciesPerPage == 10}"
              (click)="setCurrenciesPerPage(10)">
              10
            </a>
          </ul>
        </div>
  </div>
</div>
